
body{
	padding-top: 5px;
}
.headerBdB{
	width: 100%;
	background-image: url("../Vista/img/fondoBdB.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 20px 20px 1px 1px;
}
.navbarBdB{
	width: 100%;
	background-color: transparent;
	padding-left: 15px;
}
.contenidoBdB{
	width: 100%;
}
.btn-null{
	background-color: transparent;
	border-style: none;
	width: 100%;
}
.main{
	position: relative;
}
.letraFila{
	color: white;
	background-color: #c4c;
	border-radius: 2px 2px 2px 2px;
}
